@import './styles/theme-variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-width: 10px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    transition: smooth;
}
@include themify($themes) {
    .header-content {
        color: themed('text');
        background-color: themed('bg');
    }
};

.toggle-btn-section {
    
    .toggle-checkbox {
      justify-content: center;
      display: inline-flex;
      align-items: center;
      cursor: pointer;

      .toggle-btn__input {
        height: 0;
        width: 0;
        visibility: hidden;
      }

      .toggle-btn__input-label {
        cursor: pointer;
        text-indent: -9999px;
        width: 60px;
        height: 30px;
        display: block;
        border-radius: 23px;
        position: relative;
        border: none;
        margin-top: 2px;

        @include themify($themes) {
            .toggle-btn__input-label{
                background-color: themed('toggleBackground');
            }
        }

        &::after {
          content: '?';
          position: absolute;
          top: 3px;
          left: 3px;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          transition: 0.3s;
          box-shadow: 0 5px 10px rgba(153, 153, 153, 0.4);
          background-color: #fff;
        }
      }

      .toggle-btn__input:checked ~ .toggle-btn__input-label {
        &:after {
          background: #fff;
          left: calc(100% - 3px);
          transform: translateX(-100%);
        }
      }

      .toggle-btn__input:checked ~ .toggle-btn__theme {
        &:after {
          background: #fff;
          left: calc(100% - 3px);
          transform: translateX(-100%);
        }
      }
    }

    .toggle-btn__input:checked ~ .toggle-btn__input-label {
      background-color: #82deff;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.body-dark-mode {
    background: themed('bodyBackgroundColor');
}

.body-light-mode {
    background: #f8f8fa;
}
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.button {
    background-color: #b68ef7;
    // color: #0a0218;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    text-decoration: none;
    font: inherit;
}
  
.button:hover,
.button:active {
    background-color: #a16cf7;
}

.button.button--text-only {
    background-color: transparent;
}

.button.button--text-only:hover,
.button.button--text-only:active {
    color: #b592ed;
}

.button.button--disabled {
    background-color: #b9b9b9;
}

@include themify($themes) {
    .button {
        color: themed('buttonTextColor');
    }

    .button.button--text-only {
        color: themed('buttonTextOnly');
    }
};

#main-header {
    width: 100%;
    padding: 2rem;
    z-index: 99;
    box-shadow: 8px 0 25px #0000000d;
}

#main-header-content {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
  
#main-header h1 {
    margin: 0;
    font-size: 1.5rem;
}
  
#main-header nav ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

#main-header a {
    text-decoration: none;
    padding: 0.25rem 0;
    border-bottom: 2px solid transparent;
}

@include themify($themes) {
    #main-header {
        background: themed('headerBackground');
    }

    #main-header h1 {
        color: themed('headerColor');
    }

    #main-header a {
        color: themed('headerLink');
    }

    #main-header a:hover {
        border-color: themed('headerLink');
    }

    #main-header .active-page {
        border-color: themed('headerLink');
    }
};

#home-page {
    width: 80%;
    max-width: 60rem;
    margin: 3rem auto;
    border-radius: 8px;
    color: white;
}
  
#home-page h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #e1d8f0;
}
  
#home-page h2 {
    margin: 0;
    font-size: 2.5rem;
    // color: #e1d8f0;
}
  
#home-page section {
    display: flex;
    gap: 2rem;
    margin: 3rem 0;
}
  
#home-page section:nth-child(odd) {
    flex-direction: row-reverse;
}
  
#home-page img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    border-radius: 50%;
}
  
#home-page h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #c7b0ee;
}
  
#home-page p {
    max-width: 60ch;
    margin: 2rem 0;
    font-size: 1.25rem;
    color: #d5cbe7;
}


@include themify($themes) {
    #home-page h2 {
        color: themed('homePageText');
    }

      #home-page p {
        color: themed('homePagePara');
    }
};
  
#sessions-page {
    width: 80%;
    max-width: 80rem;
    margin: 3rem auto;
}
  
#sessions-page h2 {
    margin: 2rem 0 0.5rem 0;
    font-size: 1.5rem;
    color: #bba4de;
}
  
#sessions-page header p {
    margin: 0;
    color: #b6adc5;
}
  
#sessions-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 3rem;
    border-radius: 6px;
    margin: 1rem 0;
    padding: 1rem;
}

@include themify($themes) {
    #sessions-list {
        background-color: themed('sessionsPageBackgroundColor');
    }
}
  
.session-item {
    display: flex;
    flex-direction: column;
    // background-color: #352e41;
    color: white;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
  
.session-item img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}
  
.session-item .session-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}
  
.session-item .session-data h3,
.session-item .session-data p {
    margin: 0 0 0.25rem 0;
}
  
.session-item .session-data h3 {
    color: #c7b0ee;
    font-size: 1rem;
}
  
.session-item .session-data p {
    color: #eae3f6;
    font-size: 0.85rem;
}
  
.session-item .session-data .actions {
    margin: 2rem 0 1rem 0;
}

@include themify($themes) {
    .session-item {
        background-color: themed('sessionItemBackgroundColor'); 
    }
};
  
#session-page {
    width: 80%;
    max-width: 60rem;
    margin: 3rem auto;
}
  
#session-page header {
    display: flex;
    gap: 1.5rem;
}
  
#session-page img {
    width: 30rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 2rem;
}
  
#session-page h2 {
    margin: 0 0 0.5rem 0;
    font-size: 2.5rem;
}
  
#session-page time {
    color: #b6adc5;
    font-size: 1rem;
}
  
#session-page #content {
    max-width: 60rem;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    font-size: 1.25rem;
    white-space: pre-wrap;
    animation: fade-slide-down 0.3s ease-out forwards;
}

@include themify($themes) {
    #session-page h2 {
        color: themed('sessionPageHeader'); 
    }

    #session-page #content {
        color: themed('sessionPageColor'); 
        background-color: themed('sessionPageBackgroundColor'); 
    }

    #session-page .warning {
        color: themed('sessionsPageWarning');
    }
};
  
.upcoming-session {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #3b3545;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}
  
.upcoming-session h3 {
    margin: 0;
    color: #c7b0ee;
}
  
.upcoming-session p {
    margin: 0.5rem 0;
}
  
.upcoming-session time {
    color: #b6adc5;
    font-size: 0.85rem;
}
  
.upcoming-session .actions {
    margin: -0.5rem 0;
}
  
#search {
    border: 2px solid #3c265f1f;
    width: 100%;
    border-radius: 4px;
    box-sizing: content-box;
    height: 30px;
    box-shadow: 0 0 0 0 white, 0 20px 25px 0 rgb(0 0 0 / 5%);
}
  
#sessions-page .search {
    margin-top: 1em;
}
  
#sessions-page p {
    color: white;
}
  
#sessions-page .filter-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    align-items: center;
}
  
@include themify($themes) {
    #sessions-page p {
        color: themed('sessionsPagePara'); 
    }
    #sessions-page .filter-wrapper {
        color: themed('sessionsPageFilterWrapper'); 
    }
};

@keyframes fade-slide-down {
    from {
      opacity: 0;
      transform: translateY(-1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.modal {
    width: 90%;
    max-width: 35rem;
    background-color: #6b5e81;
    color: #edeaf3;
    border-radius: 8px;
    border: none;
}
  
.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}
  
.control {
    margin-bottom: 1rem;
}
  
.control label {
    display: block;
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: #d3cedc;
    text-transform: uppercase;
}
  
.control input {
    width: 100%;
    max-width: 35rem;
    font: inherit;
    font-size: 1.25rem;
    border: 1px solid #d3cedc;
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 10px;
}
  
.control .warning {
    color: yellow;
}
  
.control .form-warning {
    border: 1px solid yellow;
}
  
.actions {
    text-align: right;
}